* text=auto

.gitattributes text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.desktop text eol=lf
*.conf text eol=lf
*.json text eol=lf
*.list text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.qml text eol=lf
*.md text eol=lf
*.qss text eol=lf
*.svg text eol=lf
*.xml text eol=lf
*.png binary

iso-build/* text eol=lf
iso-build/hooks/* text eol=lf
distro/session/lxqt/* text eol=lf
distro/session/openbox/* text eol=lf
distro/session/desktop/* text eol=lf
distro/session/scripts/* text eol=lf
distro/session/xsession/* text eol=lf
distro/branding/usr/share/themes/*/openbox-3/themerc text eol=lf
distro/branding/usr/local/bin/* text eol=lf
distro/branding/usr/share/aurionos/labwc/* text eol=lf
ai-services/aurion-* text eol=lf
app-store/aurion-* text eol=lf
app-installer/aurion-* text eol=lf
control-center/aurion-* text eol=lf
diagnostics/aurion-* text eol=lf
experience/aurion-* text eol=lf
hardware-compat/aurion-* text eol=lf
hub/aurion-* text eol=lf
rollback/aurion-* text eol=lf
shell/bin/aurion-* text eol=lf
