[Desktop Entry]
Type=Application
Name=Aurion Diagnostics
Comment=Run basic AurionOS diagnostics
Exec=aurion-diagnostics
Icon=aurion-snapshot
Terminal=false
Categories=System;Utility;
