[Desktop Entry]
Type=Application
Name=Aurion Diagnostics
Comment=Run basic AurionOS diagnostics
Exec=qterminal -e aurion-diagnostics
Icon=utilities-system-monitor
Terminal=false
Categories=System;Utility;

